<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Cleanston Code Challenge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full flex flex-col">
    <section>
      <header class="flex flex-row justify-center my-5">
        <h1 class="basis-8/12">
          <%= image_tag "/logo.png", class: "w-48" %>
        </h1>

        <%= form_with model: Cart.new, class: "text-end font-light content-end" do |form| %>
          <%= form.button 'generate new cart' %>
        <% end %>
      </header>

      <hr/>
    </section>

    <main class="container mx-auto mt-10 grow">
      <section class="flex justify-center h-full">
        <section class="basis-8/12">
          <%= yield %>
        </section>
      </section>
    </main>
  </body>
</html>
